<div class="chat_container">
  <div class="row">

    <div class="col-sm-4 col-md-3 mob-clearfix">
      <div class="row">
        <div class="col-md-12">
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="cover">

                </div>
                <div class="user cover-img">
                  <!-- <img src="https://placehold.it/300x300" class="img-circle" alt=""> -->
                  <ng-container *ngIf="user.image.includes('http'); else noHttp">
                    <img [src]="user.image" class="img-circle">
                  </ng-container>
                  <ng-template #noHttp>
                    <img [src]="'https://s3.amazonaws.com/fox-user-pictures/' + user.image" class="img-circle">
                  </ng-template>
                </div>
                <div class="content">
                  <div class="main">
                    <h3 class="name">{{username}}</h3>
                    <p class="profession-online">
                      <i class="fa fa-circle" [ngClass]="{'online': isOnline, 'offline':!isOnline}" aria-hidden="true"></i>
                      <ng-container *ngIf="isOnline; else offline">Online</ng-container>
                      <ng-template #offline>Offline</ng-template>
                    </p>
                    <p class="text-center">
                      {{user.mantra}}
                    </p>
                  </div>
                  <div class="footer">
                    <i class="fa fa-mail-forward"></i>
                    <a (click)="navigateToMyProfile()" style="cursor: pointer">
                      View My Profile
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
          <div class="card-container">
            <div class="card">
              <div class="front">

                <div class="content main-scroll">
                  <div class="main" id="main_scroll">
                    <p class="friends" style="margin-bottom:0px;">
                      Online Friends
                      <span id="numOfFriends">({{onlineFriendsList.length}})</span>
                    </p>
                    <hr style="margin-top:10px" />

                    <div class="onlineFriends">
                      <div *ngFor="let onlineFriend of onlineFriendsList">
                        <ng-container *ngIf="onlineFriend.img.includes('http'); else noHttp">
                          <img [src]="onlineFriend.img" class="pull-left img-circle" style="width: 30px; margin-right: 10px;">
                        </ng-container>
                        <ng-template #noHttp>
                          <img [src]="'https://s3.amazonaws.com/fox-user-pictures/' + onlineFriend.img" class="pull-left img-circle" style="width: 30px; margin-right: 10px;">
                        </ng-template>
                        <!-- <img [src]="'https://placehold.it/30*30'" class="pull-left img-circle" style="width: 50px; margin-right: 10px;"> -->
                        <p>
                          <a class="val" [href]="'/#/private-chat/'+ onlineFriend['id'] + '.'+ auth.getUserDetails()._id + '?receiverName=' + onlineFriend['name']">
                            <h3 style="padding-top: 15px; font-size: 14px">@{{onlineFriend['name']}}
                              <i class="fa fa-circle pull-right" aria-hidden="true" [ngClass]="{'online': isOnline, 'offline':!isOnline}"></i>
                            </h3>
                          </a>
                          <!-- <a class="val" [routerLink]="['/private-chat', onlineFriend['id']+'.'+auth.getUserDetails()._id]" [queryParams]="{receiverName: onlineFriend['name']}">
                            <h3 style="padding-top: 15px; font-size: 14px">@{{onlineFriend['name']}}
                              <i class="fa fa-circle pull-right" aria-hidden="true" [ngClass]="{'online': isOnline, 'offline':!isOnline}"></i>
                            </h3>
                          </a> -->
                        </p>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-5 col-md-6 message_section">
      <div class="row">
        <div class="new_message_head">
          <div class="pull-left">
            <button class="club_name">
              {{groupName}}
            </button>
          </div>
          <div class="pull-right">
          </div>
        </div>

        <div class="chat_area" #messageDiv>
          <ul id="messages" class="list-unstyled">
            <li *ngFor="let message of messages" class="left" #messageList>
              <span class="chat-img1 pull-left">
                <!-- <img src="http://placehold.it/300x300" class="img-circle"> -->
                <ng-container *ngIf="message.from.image.includes('http'); else noHttp">
                  <img [src]="message.from.image" class="img-circle">
                </ng-container>
                <ng-template #noHttp>
                  <img [src]="'https://s3.amazonaws.com/fox-user-pictures/' + message.from.image" class="img-circle">
                </ng-template>
              </span>
              <div class="chat-body1">
                <span class="chat-name">
                  {{message?.from.name}}
                </span>
                <br>{{message?.content}}
              </div>
            </li>
          </ul>
        </div>

        <div class="message_write">

          <textarea class="form-control" name="message" id="msg" placeholder="Type a message" [(ngModel)]="messageContent"></textarea>
          <div class="clearfix"></div>
          <div class="chat_bottom">
            <button id="send-message" class="pull-right btn btn-primary" style="background: #4aa1f3; border: #4aa1f3; " (click)="sendMessage()">
              Send
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3 mob-50 mob-clearfix">


      <div class="new_message_head">
        <div class="pull-left">
          <button class="club_fans">
            <i class="fa fa-users" aria-hidden="true" style="padding-right:15px; color:#4aa1f3 !important;"></i>
            Online Club Fans
            <span id="numValue">({{onlineUsersList.length}})</span>
          </button>
        </div>
      </div>



      <div class="gr-rightsidebar">

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="name">@{{receiverName}}</h3>
              </div>
              <div class="modal-body">
                <button type="submit" id="friend-add" class="btn add" (click)="sendFriendRequest()" [disabled]="receiverId == user.id">
                  <i class="fa fa-user"></i> Add Friend
                </button>

                <a id="nameLink" class="btn " (click)="navigateToOverview(receiverId)">View Profile</a>

                <div id="myTest">
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn_close" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-12" id="main">
          <div id="users">
            <ol *ngFor="let user of onlineUsersList">
              <p>
                <a class="val" data-toggle="modal" data-target="#myModal" (click)="receiverName=user.name; receiverId = user.id">{{user.name}}</a>
              </p>
            </ol>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
