<div class="card" style="border: #4aa1f3 2px solid; border-radius: 10px">
  <!-- <a [routerLink]="['/group-chat', club.name ]" style="text-decoration: none"> -->
  <!-- user href instead, otherwise cannot reconnect socket because angular reuse the page-->
  <a [routerLink]="['/overview', user._id]" style="text-decoration: none">
    <img class="card-img-top" [src]="user.userImage.includes('http')?user.userImage:('https://s3.amazonaws.com/fox-user-pictures/' + user.userImage)"
      style="display: block;max-width: 100%;  height: auto; border-top-right-radius: 8px;  border-top-left-radius: 8px; border: #4aa1f3 1px solid">
    <div class="card-body" style="margin-left: 20px ">
      <h4 class="card-title">{{user.name}}</h4>
      <p class="card-text">{{user.email}}</p>
    </div>
  </a>
  <div class="card-footer">

  </div>
</div>
